<ul>
  <% if admin? %>
    <li>
      <%= link_to 'Manage Users', users_path %>
    </li>
    <li>
      <%= link_to 'Add a Class', new_classroom_path %>
    </li>
    <li>
      <div >
        <%= link_to teachers_path, 'data-toggle' => 'dropdown' do %>
          Teachers <span class='caret'></span>
        <% end %>
        <ul>
          <% Teacher.all.each do |person| %>
            <li><%= person.full_name%></li>
          <% end %>
            <li></li>
            <li>
              <%= link_to(new_teacher_path) do %>
                Add New Teacher
              <% end %>
            </li>
        </ul>
      </div>
    </li>
  <% end %>

  <% if logged_in? %>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Student Master List', allstudents_path %></li>
    <li><%= link_to "Log Out", logout_path %></li>
  <% end %>
</ul>