<ul>
  <% if admin? %>
    <li>
      <%= link_to 'Add a Class', new_classroom_path %>
    </li>
    <li>
      <%= link_to 'Add a New Student', new_classroom_path %>
    </li>
    <li>
      <div >
        <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
          Teachers <span class='caret'></span>
        <% end %>
        <ul class='dropdown-menu'>
          <% Teacher.all.each do |person| %>
            <li><%= person.full_name%></li>
          <% end %>
            <li class='divider'></li>
            <li>
              <%= link_to(new_teacher_path) do %>
                Add New Teacher
              <% end %>
            </li>
        </ul>
      </div>
    </li>
  <% end %>
  <li>
    <%= link_to 'Student Master List', allstudents_path %>
  </li>
  <% if logged_in? %>
    <li><%= link_to "Log Out", logout_path %></li>
  <% end %>
</ul>